!##################################################################
!# Author: AISK11

!# Packages installed:
!# sudo apt install rxvt-unicode-256color
!##################################################################

! Double buffering - increase performance:
URxvt*buffered: true
! Window with specified X window geometry [80x24]:
URxvt*geometry: 240x84
! Background color [Black] and Foreground color [White]:
URxvt*background: Black
URxvt*foreground: White
! Highlighted (selected text): 
URxvt*highlightColor: White
URxvt*highlightTextColor: Black
! Set cursor color:
!URxvt*cursorColor: Yellow
!URxvt*cursorColor2: Black
URxvt*cursorBlink: True
! True - set cursor underlined; False - square cursor:
URxvt*cursorUnderline: False
! JumpScroll (True - less updates; False - more updates):
URxvt*jumpScroll: False
! skipScroll (True 60 times per second screen update; False - every line update):
URxvt*skipScroll: True
! Scroll type [rxvt, plain, next, xterm]
URxvt*scrollstyle: plain
! Disable scrollBar:
URxvt*scrollBar: False
! Scroll to bottom when receive output:
URxvt*scrollTtyOutput: True
URxvt*scrollWithBuffer: True
! Save number of linex to scroll buffer [1000]:
URxvt*saveLines: 650000
! Fading - when focus is lost, fade text by given %:
!URxvt*fading: 30
!URxvt*fadeColor: Black
! Font (see 'fc-list'):
URxvt*font: xft:DejavuSansMono:size=10
URxvt*boldFont: xft:DejavuSansMono-Bold=10
!Urxvt*italicFont: 
!Urxvt*boldItalicFont:
! Window Title:
URxvt*title: urxvt
! Visual Bell:
URxvt*visualBell: False
! Border in pixels for text since WM border:
URxvt*internalBorder: 1
URxvt*externalBorder: 1
! Line space in pixels between each row:
URxvt*lineSpace: 0
! Terminal name (let be commented to Home and End buttons to work):
!URxvt*termName: xterm-256color
! Disable iso14755:
URxvt*iso14755: False
URxvt*iso14755_52: False
! Copy Paste:
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:
! Transparency - higher value = higher transparency:
URxvt.transparent: true
URxvt.shading: 50
